/* RESET */

html, body, header, nav, h1, h2, h3, h4, h5, h6, 
a, ol, ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Inconsolata', sans-serif;
  font-size: 100%;
  font-weight: 100;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background: transparent;
}

ol, ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a, button,
input[type="submit"] {
  cursor: pointer;
}

/* DRUM KICK */

#drumkit {
  background: url('assets/images/hero_01.jpg') bottom center;
  background-size: cover;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100vh;
}

.key {
  background: rgba(0, 0, 0, 0.4);
  border: .1rem solid black;
  border-radius: .5rem;
  color: #E8E0F7;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  text-align: center;
  text-shadow: 0 0 .5rem #333;
  transition: all 0.7s ease;
  width: 10rem;
}

.sound {
  color: #c7b9e2;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

kbd {
  display: block;
  font-size: 4rem;
}

.playing {
  border-color: #EEEFC4;
  box-shadow: 0 0 1rem #EEEFC4;
  transform: scale(1.1);
}

/* CLOCK */

#clock {
  background: #242423; }
  .clock-container {
    border: 20px solid #F5CB5C;
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    position: relative;
    padding: 2rem;
    margin: 50px auto; 
    box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2); }
  .clock-face {
    height: 100%;
    width: 100%;
    position: relative;
    transform: translateY(-3px); }
  .hand {
    background: #F5CB5C;
    height: 6px;
    width: 50%;
    position: absolute;
    top: 50%; 
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.35, 1.74, 0.52, 0.99); }

