/* RESET */

html, body, header, nav, h1, h2, h3, h4, h5, h6, 
a, ol, ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Inconsolata', sans-serif;
  font-size: 100%;
  font-weight: 100;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background: transparent;
}

ol, ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a, button,
input[type="submit"] {
  cursor: pointer;
}

.bd {
  background: #454777;
  color: #FAF4F4;
  text-align: center; 
  margin-top: 50px; }
  #main {
  display: flex;
  flex-direction: column; }
  #main a {
    cursor: pointer; }
  #main a:hover,
  .home-link:hover {
    transform: scale(1.2); }
  .home-link {
    cursor: pointer;
    font-size: 1.2rem; 
    text-decoration: underline; }

/* DRUM KICK */

#drumkit {
  background: #409784; }
  .keys {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 100vh; }
    .key {
      background: rgba(0, 0, 0, 0.4);
      border-radius: .5rem;
      color: #E8E0F7;
      cursor: pointer;
      font-size: 1.5rem;
      margin: 1rem;
      padding: 1rem .5rem;
      text-align: center;
      text-shadow: 0 0 .5rem #333;
      transition: all 0.7s ease;
      width: 7rem; }
  .sound {
    color: #c7b9e2;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase; }
  kbd {
    display: block;
    font-size: 4rem; }
  .playing {
    border-color: #EEEFC4;
    box-shadow: 0 0 1rem #EEEFC4;
    transform: scale(1.1); }

/* CLOCK */

#clock {
  background: #242423; }
  .clock-container {
    border: 20px solid #F5CB5C;
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    position: relative;
    padding: 2rem;
    margin: 50px auto; 
    box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2); }
  .clock-face {
    height: 100%;
    width: 100%;
    position: relative;
    transform: translateY(-3px); }
  .hand {
    background: #F5CB5C;
    height: 6px;
    width: 50%;
    position: absolute;
    top: 50%; 
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.35, 1.74, 0.52, 0.99); }

/* CSS VARIABLES */

:root {
  --base: #F5CB5C;
  --blur: 10px;
  --spacing: 10px;
}

#css-variables {
  background: #242423;
  color: #FAF4F4;
  font-size: 3rem; 
  margin: 4rem;
  text-align: center;}
  .controls {
    font-size: 2rem; }
    .controls input {
      width: 6rem; }
  .day3-img {
    margin: 4rem; }
    .day3-img img {
      background: var(--base);
      filter: blur(var(--blur));
      padding: var(--spacing); }
  .hl {
    color: var(--base); 
    font-weight: 400; }

/* GALLERY */

.panel1 { background-image: url(https://vignette.wikia.nocookie.net/sailormoon/images/9/9c/Ami_Mizuno_Sailor_Mercury_Sailor_Form_-_Anime.png/revision/latest/scale-to-width-down/340?cb=20190904084817); }
.panel2 { background-image: url(https://vignette.wikia.nocookie.net/sailormoon/images/4/41/Minako_Aino_Sailor_Form_-_Anime.png/revision/latest/scale-to-width-down/340?cb=20190906073411); }
.panel3 { background-image: url(https://vignette.wikia.nocookie.net/sailormoon/images/1/1c/Usagi_Sailor_Moon_Cosmic_Form_-_Anime.png/revision/latest/scale-to-width-down/340?cb=20190909081231); }
.panel4 { background-image: url(https://vignette.wikia.nocookie.net/sailormoon/images/5/57/Rei_Hino_Sailor_Mars_Super_Sailor_Form_-_Anime.png/revision/latest/scale-to-width-down/340?cb=20190904235114); }
.panel5 { background-image: url(https://vignette.wikia.nocookie.net/sailormoon/images/2/2f/Makoto_Kino_Sailor_Jupiter_Sailor_Form_-_Anime.png/revision/latest/scale-to-width-down/340?cb=20190906020233); }
.panel6 { background-image: url(https://vignette.wikia.nocookie.net/sailormoon/images/f/fc/Hotaru_Tomoe_Sailor_Saturn_Super_Sailor_Form_-_Anime.png/revision/latest/scale-to-width-down/340?cb=20190910050006); }
.panel7 { background-image: url(https://vignette.wikia.nocookie.net/sailormoon/images/8/8f/Haruka_Tenou_Sailor_Uranus_Sailor_From_-_Anime.png/revision/latest/scale-to-width-down/340?cb=20190909055044); }
.panel8 { background-image: url(https://vignette.wikia.nocookie.net/p__/images/5/5a/Sailor_Neptune_Season_III.png/revision/latest?cb=20170607032544&path-prefix=protagonist); }
.panel9 { background-image: url(https://vignette.wikia.nocookie.net/p__/images/c/c6/Sailor_Pluto_Season_III.png/revision/latest?cb=20170607024056&path-prefix=protagonist); }

#gallery {
  background: #242423; }
  .panels {
    display: flex;
    margin: 2rem 7rem;
    min-height: 80vh;
    overflow: hidden; }
    .panel {
      background-position: center;
      background-size: cover;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15rem 0;
      text-align: center;
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s; }
      .panel p {
        font-size: 1.5rem;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45); }
      .panel p:nth-child(2) { font-size: 2rem; }
      .panel > * {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
        margin: 0;
        width: 100%; }
      .panel > *:first-child { transform: translateY(-1000%); }
      .panel.open-active > *:first-child { transform: translateY(0); }
      .panel > *:last-child { transform: translateY(1000%); }
      .panel.open-active > *:last-child { transform: translateY(0); }
    .panel.open {
      flex: 3;
      font-size: 5rem;
    }